
    body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }

  h1 {
    color:#F768B3;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 10px dotted #813380;
  }

  h2 {
    font-size: 1.5em;
  }

  .job-title {
    color: #999999;
    font-weight: bold;
  }

  a:link,
  a:visited {
    color: #fb6542;
  }

  a:hover {
    text-decoration: none;
    color: green;
  }
  ul { /* adding a border as mentioned*/
    border: 5px solid #813380;
    background: #EEEEEE;
    padding: 20px;
}